target/
/target/
*/target/*
target/*

### Eclipse ###
.classpath
/.classpath
.project
/.project
.settings
/.settings
/build/
.orig

### Maven Version
pom.xml.releaseBackup
**/pom.xml.releaseBackup

pom.xml.versionsBackup
**/pom.xml.versionsBackup

release.properties
**/release.properties